<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhouyafeng.blog.dao.CommentDetailEntityMapper" >
  <resultMap id="BaseResultMap" type="cn.zhouyafeng.blog.entity.CommentDetailEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="comment_time" property="commentTime" jdbcType="TIMESTAMP" />
    <result column="blog_id" property="blogId" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="LONGVARCHAR" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <select id="getNextCommentId" resultType="Long">
  	SELECT AUTO_INCREMENT FROM information_schema.`TABLES` WHERE TABLE_SCHEMA='springmvc' AND TABLE_NAME='blog_comment';
  </select>
</mapper>